{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "defaultSeverity": "error",
  "rules": {
    "block-no-empty": true,
    "indentation": 2,
    "max-empty-lines": 1,
    "no-extra-semicolons": true,
    "number-leading-zero": "never",
    "property-no-vendor-prefix": null,
    "scss/dollar-variable-pattern": null,
    "selector-max-compound-selectors": 4,
    "selector-max-id": 1,
    "string-quotes": "single",
    "order/properties-order": [
      [
        "position",
        "z-index",
        "top",
        "right",
        "bottom",
        "left",
        "content",
        "display",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "flex-direction",
        "order",
        "flex-order",
        "flex-wrap",
        "flex-flow",
        "justify-content",
        "align-self",
        "align-items",
        "align-content",
        "flex-pack",
        "flex-align",
        "vertical-align",
        "box-sizing",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "border",
        "border-spacing",
        "border-collapse",
        "border-width",
        "border-style",
        "border-color",
        "border-top",
        "border-top-width",
        "border-top-style",
        "border-top-color",
        "border-right",
        "border-right-width",
        "border-right-style",
        "border-right-color",
        "border-bottom",
        "border-bottom-width",
        "border-bottom-style",
        "border-bottom-color",
        "border-left",
        "border-left-width",
        "border-left-style",
        "border-left-color",
        "border-radius",
        "border-top-left-radius",
        "border-top-right-radius",
        "border-bottom-right-radius",
        "border-bottom-left-radius",
        "border-image",
        "border-image-source",
        "border-image-slice",
        "border-image-width",
        "border-image-outset",
        "border-image-repeat",
        "border-top-image",
        "border-right-image",
        "border-bottom-image",
        "border-left-image",
        "border-corner-image",
        "border-top-left-image",
        "border-top-right-image",
        "border-bottom-right-image",
        "border-bottom-left-image",
        "overflow",
        "overflow-x",
        "overflow-y",
        "list-style",
        "visibility",
        "opacity",
        "font",
        "font-family",
        "font-size",
        "font-weight",
        "font-style",
        "font-variant",
        "font-size-adjust",
        "font-stretch",
        "line-height",
        "letter-spacing",
        "text-align",
        "text-align-last",
        "text-decoration",
        "text-emphasis",
        "text-emphasis-position",
        "text-emphasis-style",
        "text-emphasis-color",
        "text-indent",
        "text-justify",
        "text-outline",
        "text-transform",
        "text-wrap",
        "word-spacing",
        "word-wrap",
        "word-break",
        "pointer-events",
        "color",
        "filter",
        "background",
        "background-color",
        "background-image",
        "background-attachment",
        "background-position",
        "background-position-x",
        "background-position-y",
        "background-clip",
        "background-origin",
        "background-size",
        "background-repeat",
        "clip",
        "box-shadow",
        "text-shadow",
        "cursor",
        "outline",
        "outline-width",
        "outline-style",
        "outline-color",
        "outline-offset",
        "will-change",
        "transform",
        "transition",
        "animation"
      ]
    ]
  }
}
